.tabitem {
  list-style-type: none;
}
.tabButton {
  color: #7b8794;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.active {
  color: #2563eb;
}
